<div class="main-contain" [ngClass]="{ 'switch-opacity-on': signUp, 'switch-opacity-off': !signUp }">
    <form action="register">
        <h1>{{ globalJSData.isGerman ? 'Registrierung' : 'Sign Up' }}</h1>
        <div class="distance">
            <p>
                @if (globalJSData.isGerman) {
                    Wir empfehlen, deine berufliche E-Mail-Adresse zu nutzen, damit du keine wichtigen Informationen
                    verpasst.
                } @else {
                    We recommend using your work email address so you don't miss any important information.
                }
            </p>
        </div>
        <div class="input-contain">
            <input type="name" placeholder=" " id="confirm-name" required>
            <label class="font-anta" for="confirm-name">Name</label>
            <div class="img-contain">
                <img class="input-icon" src="assets/img/icons/user.png" alt="">
            </div>
        </div>
        <div class="input-contain">
            <input type="email" placeholder=" " id="email" autocomplete="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            <label class="font-anta" for="email">{{ globalJSData.isGerman ? 'E-Mail Adresse' : 'Mail address'
                }}</label>
            <div class="img-contain">
                <img class="input-icon" src="assets/img/icons/mail.png" alt="">
            </div>
        </div>
        <div class="input-contain">
            <input class="input-pw" type="password" placeholder=" " id="password" required>
            <label class="font-anta" for="password">{{ globalJSData.isGerman ? 'Passwort' : 'Password'
                }}</label>
            <div class="img-contain pw">
                <img class="input-icon eye" src="assets/img/icons/eye.png" alt="">
                <img class="input-icon" src="assets/img/icons/lock.png" alt="">
            </div>
        </div>
        <div class="input-contain">
            <input class="input-pw" type="password" placeholder=" " id="confirm-password" required>
            <label class="font-anta" for="confirm-password">{{ globalJSData.isGerman ? 'Passwort bestätigen' : 'Confirm Password' }}</label>
            <div class="img-contain pw">
                <img class="input-icon eye" src="assets/img/icons/eye.png" alt="">
                <img class="input-icon" src="assets/img/icons/lock.png" alt="">
            </div>
        </div>
        <div class="checkbox-contain">
            <div class="checkbox" id="checkbox-border" (click)="PPaccept = !PPaccept"
                [ngClass]="{'redBorder': formValid == false, 'greenBorder': PPaccept}">
                <img [src]="PPaccept ? 'assets/img/icons/check-mark-green.png' : ''" class="check">
            </div>
            <span class="font-anta pp-text">
                @if (globalJSData.isGerman) {
                    Ich stimme den <a class="font-anta pp-link">Datenschutzrichtlinien</a> zu.
                } @else {
                    I agree to the <a class="font-anta pp-link">privacy policy</a>.
                }
            </span>
        </div>
        <div class="btn-contain">
            <button class="btn-left">{{ globalJSData.isGerman ? 'Weiter' : 'Next' }}</button>
        </div>
    </form>
</div>