<button (click)="filtering = !filtering" id="dropdown-btn" class="dropdown-btn">
  <div id="dropdown-icon" class="dropdown-icon rotate-down">
  </div>
  <div class="dropdown-text">
    Direktnachrichten
  </div>
</button>
@if(filtering) {
<div id="dropdown-container" class="dropdown-container">
  <div class="dropdown-content">
    <table class="user-table">
      <tbody>
        @for(user of this.userdataService.allUsers; track user) {
        <tr [routerLink]="['', {outlets: {mainroute: ['users', user.id] }}]">
          <td><img src="./assets/img/profile/man1.svg" alt=""></td>
          <td>{{user.name}}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}