<div class="container">
  <app-header></app-header>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer mode="side" [opened]="true">
      <section class="sidenav-container">
        <div class="sidenav">
          <div class="logo-container">
            <h2>This is logo contianer</h2>
          </div>
          <ul class="menu-item">
            <app-direct-message></app-direct-message>
          </ul>
        </div>
      </section>
    </mat-drawer>

    <div class="sidenav-content">
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon class="menu-icon">menu</mat-icon>

          </button>
          <button (click)="userdataService.saveUser()">
            Click
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="router-container">
        <router-outlet name="mainroute"></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>