@import './../../mixin.scss';

.main-contain {
    width: 95%;
    height: 98%;

    @include display();

    position: relative;

    figure {
        width: 350px;
        height: 75px;

        @include display();
        position: absolute;
        top: 25px;
        left: 25px;

    }

    .sign-area {
        width: 1120px;
        max-width: 95%;
        height: 620px;
        max-height: 98%;

        @include display();

        background-color: var(--white);
        border-radius: var(--borderRadius);
        overflow: hidden; // Damit der swipe Effekt gut aussieht

        position: relative;

        .switch-contain,
        app-toggle-contain {
            width: 50%;
            height: 100%;

            @include display();

            position: absolute;
            top: 0;
            transition: transform 0.5s ease-in-out;
        }

        .form-component {
            width: 50%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            transition: all 0.6s ease-in-out;
        }

        app-sign-in {
            opacity: 1;
            z-index: 2;
        }

        .active-in {
            opacity: 0;
            z-index: 1;
            transform: translateX(100%);
            animation: opacityOff 0.6s;
        }

        app-sign-up {
            opacity: 0;
            z-index: 1;
        }

        .active-up {
            opacity: 1;
            z-index: 2;
            transform: translateX(100%);
            animation: opacityOn 0.6s;
        }

        app-toggle-contain {
            right: 0;
            z-index: 3;

            &.slide-left {
                transform: translateX(-100%);
            }
        }
    }
}