@import './../../mixin.scss';

.main-contain {
    width: 95%;
    height: 98%;

    @include display();

    .sign-area {
        width: 1020px;
        max-width: 95%;
        height: 620px;
        max-height: 98%;

        background-color: var(--white);
        border-radius: var(--borderRadius);

        @include display();

        app-login-create-account,
        app-toggle-contain {
            width: 50%;
            height: 100%;

            @include display();
        }
    }
}