@import './../../../mixin.scss';

main {
    width: 95%;
    height: 98%;

    @include display();
    position: relative;

    app-back-arrow {
        position: absolute;
        top: 75px;
        left: 75px;
    }
}